/* nav */
#nav_bookmark{
    font-weight: 900;
}

/* 제목 */
#title{
    height: 126px;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 42px;
    margin: 0 10px;
}
.back_icon{
    float: left;
}
.title_name{
    margin: 0 40px;
}

/* 기능 */
/* 즐겨찾기 개수 */
#main_content{
    min-height: 548px;
    font-size: 1.2rem;
}
.top{
    padding: 0 5px 0 20px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    border-bottom: 3px solid #FFC148;
}
.top span{
    color: #FF5C00;
    font-weight: 800;
    margin-left: 5px;
    font-size: 1.4rem;
}
/* 즐겨찾기 목록 */
.bookmark_list{
    padding: 5px 6px;
}
.fa-long-arrow-alt-right{
    margin: 9px 3px;
    margin-bottom: 0;
    float: left;
    font-size: 1rem;
    color: #3A3939;
}
.fa-ellipsis-v{
    margin-top: 11px;
    margin-left: 30px;
    font-size: 1rem;
    color: #3A3939;
}

hr{
    width: 100%;
    border: 1px solid #FFC148;
    z-index: 1;
    margin-bottom: 5px;
}
.list_start, .list_end{
    float: left;
    width: 150px;
    text-align: center;
    margin: 5px 3px;
    padding-top: 3px;
    font-size: 1rem;
}
/* 버튼 팝업 */
.btn_click{
    position: absolute;
    right: 10px;
    
}
.list_map, .list_del{
    margin: 2px;
    padding:  3px 5px;
    color: #3A3939;
    text-align: center;
    font-size: 0.8em;
    background-color: white;
    /* background-color: #ffd279; */
    border: 1.5px solid rgb(209, 209, 209);
    border-radius: 3px;
}