/* 제목 */
#title{
    height: 15vh;
    font-size: 1.6em;
    font-weight: bold;
    padding: 30px 40px;
}
#title p{
    font-size: 0.6em;
    font-weight: 100;
}

/* 지도 */
#main_img{
    height: 25vh;
    width: 80vw;
    margin: 30px 40px 20px 40px;
}

/* 버튼 */
#main_btn{
    height: 35vh;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}
#main_btn a{
    width: 301px;
    height: 58px;
    font-size: 1.6em;
    text-align: center;
    padding-top: 8px;

    background-color: white;
    border: 5px solid #FFC148;
    border-radius: 20px;
}
#main_btn a:active{
    background-color: #FDDF76;
}
