{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bookmark/bookmark.css' %}?after">

<section id="title">
    <div class="back_icon"> <a href="{% url 'mainpage' %}"><i class="fas fa-chevron-left"></i></a></div>
    <div class="title_name">즐겨찾기</div>
</section>

<section id="main_content">
        <div class="top">
            <p>전체 <span>{{count}}</span></p>
            <!-- <button type="submit">삭제</button> -->
        </div>
        <div>
            {%for bookmark in bookmarks%}
                <span class="circle">출</span>{{bookmark.startbuilding}} {{bookmark.startfloor}}<span class="circle">도</span>{{bookmark.endbuilding}} {{bookmark.endfloor}}
                <br>
                <a href="{%url 'shortroadpage'%}?startBuilding={{ bookmark.startbuilding }}&endBuilding={{ bookmark.endbuilding }}&startFloor={{ bookmark.startfloor }}&endFloor={{ bookmark.endfloor }}">길찾기</a>
                <a href="{%url 'deletebookmark' bookmark.id%}">삭제</a>
                <hr>
            {%endfor%}
        </div>
</section>


{% endblock %}