{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bookmark/bookmark.css' %}">

<section id="title">
    <div class="back_icon"> <a href="{% url 'mainpage' %}"><i class="fas fa-chevron-left"></i></a></div>
    <div class="title_name">즐겨찾기</div>
</section>

<section id="main_content">
    <div class="top">
        <p>전체 <span>{{count}}</span></p>
    </div>
    <!-- <div class="bookmark_list">
        {%for bookmark in bookmarks%}
        <div class="list">
            <div class="startend">
                <div class="list_start">
                    <p><span class="circle">출</span>{{bookmark.startbuilding}} {{bookmark.startfloor}}</p>
                </div>
                <div class="list_end">
                    <p><span class="circle">도</span>{{bookmark.endbuilding}} {{bookmark.endfloor}}</p>
                </div>
            </div>
            <div class="btn_choice">
                <a href="{%url 'shortroadpage'%}?startBuilding={{ bookmark.startbuilding }}&endBuilding={{ bookmark.endbuilding }}&startFloor={{ bookmark.startfloor }}&endFloor={{ bookmark.endfloor }}"
                    class="list_map">길찾기</a>
                <a href="{%url 'deletebookmark' bookmark.id%}">삭제</a>
            </div>
        </div>
        <hr>
        {%endfor%}
    </div> -->
    <!-- <div class="bookmark_list">
            {%for bookmark in bookmarks%}
                <div><section class="list_start"><p class="circle">출</p><p>{{bookmark.startbuilding}} {{bookmark.startfloor}}</p></section></div>
                <br>
                <div><section class="list_end"><p class="circle">도</p><p>{{bookmark.endbuilding}} {{bookmark.endfloor}}</p></section></div>
                <br>
                <a href="{%url 'shortroadpage'%}?startBuilding={{ bookmark.startbuilding }}&endBuilding={{ bookmark.endbuilding }}&startFloor={{ bookmark.startfloor }}&endFloor={{ bookmark.endfloor }}" class="list_map">길찾기</a>
                <a href="{%url 'deletebookmark' bookmark.id%}">삭제</a>
                <hr>
            {%endfor%}
        </div> -->
    <div class="bookmark_list">
        {%for bookmark in bookmarks%}
        <div class="list_div">
            <section class="list_start">{{bookmark.startbuilding}} {{bookmark.startfloor}}</section>
            <i class="fas fa-long-arrow-alt-right"></i>
            <section class="list_end">{{bookmark.endbuilding}} {{bookmark.endfloor}}</section>
        </div>
        <div class="list_btn_i"><i class="fas fa-ellipsis-v"></i></div>
        <hr>
        <!-- style="display: none;" -->
        <div class="list_btn" style="display: none;">
            <a href="{%url 'shortroadpage'%}?startBuilding={{ bookmark.startbuilding }}&endBuilding={{ bookmark.endbuilding }}&startFloor={{ bookmark.startfloor }}&endFloor={{ bookmark.endfloor }}"
                class="list_map">길찾기</a>
            <a href="{%url 'deletebookmark' bookmark.id%}">삭제</a>
        </div>
        {%endfor%}
    </div>
</section>

<script>
// var listBtns = document.querySelectorAll('.list_btn_i');

// listBtns.forEach(function(listBtn) {
//     listBtn.addEventListener('click', function() {
//         var listBtnParent = this.parentElement;
//         var listBtnNextSibling = listBtnParent.nextElementSibling;

//         if (listBtnNextSibling.style.display === 'none') {
//             listBtnNextSibling.style.display = 'block';
//         } else {
//             listBtnNextSibling.style.display = 'none';
//         }
//     });
// });
</script>

{% endblock %}