/* 제목 */
#title{
    height: 10vh;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 5vh;
    margin: 0 10px;
}
.back_icon{
    float: left;
}
.title_name{
    margin: 0 40px;
}

/* 설명 */
#explain{
    height: 4vh;
    font-size: 1em;
    color: #848484;
    margin: 0 50px;
    margin-top: 1vh;
}

/* 기능 */
#join{
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin: 10vh 50px 5vh 50px;
}
#join__id, #join__pw, #join__pwcheck{
    border: 1px solid #d9d9d9;
    height: 60px;
    padding: 5px 0px;
    margin-bottom: 2vh;
    text-align: center;
    font-size: 1.4em;
    color: #b8b8b8;
}
#join_btn{
    width: 60%;
    height: 45px;
    font-size: 1.3em;
    text-align: center;
    background-color: white;
    border: 3px solid #FFC148;
    border-radius: 15px;
    margin: 4vh 15vw 5vh 15vw;
    padding-bottom: 3px;
}
#join_btn:active{
    background-color: #FDDF76;
}