{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/myhome/ask.css' %}">

<section id="title">
    <div class="back_icon"> <a href="{% url 'homepage' %}"><i class="fas fa-chevron-left"></i></a></div>
    <div class="title_name">문의하기</div>
</section>

<section id="explain">
    <div>문의 남겨주시면 이메일로 답변 해드립니다.</div>
</section>

<form action="{%url 'askpage'%}" method="POST" enctype="multipart/form-data" id="ask_form">
    {% csrf_token %}
    <div id="ask_title"><div class="postname">제목</div><div class="postname_input"><input type="text" name="title" placeholder="제목을 입력해주세요"></div></div>
    <div id="ask_body"><div class="postname">내용</div> <div><textarea type="text" name="body" cols="30" rows="10" placeholder="내용을 입력해주세요"></textarea></div></div>
    <button onclick="javascript:btn()" type="submit" id="ask_btn">등록하기</button>
    <script>
        function btn(){
            alert('등록이 완료되었습니다.')
        }
    </script>
</form>
<script src="{% static 'JS/nav_home.js' %}?after"></script>
{% endblock %}