{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/stamp/stamp_conv.css' %}">

<section id="title">
    <div class="back_icon"> <a href="{% url 'mainpage' %}"><i class="fas fa-chevron-left"></i></a></div>
</section>

<section id="stp_nav">
    <div> <a href="{% url 'stpcafepage' %}">카페</a></div>
    <div class="visited"> <a href="{% url 'stpconvpage' %}">편의점</a></div>
    <div> <a href="{% url 'stpstdpage' %}">스터디존</a></div>
    <div> <a href="{% url 'stprestpage' %}">식당</a></div>
</section>

<section id="stp_board">
    <div class="line1"><i class="fas fa-circle"></i> <i class="far fa-circle"></i>
        <i class="far fa-circle"></i> <i class="far fa-circle"></i> <i class="far fa-circle"></i>
    </div>
    <div class="line2"><i class="far fa-circle"></i> <i class="far fa-circle"></i>
        <i class="far fa-circle"></i> <i class="far fa-circle"></i> <i class="far fa-circle"></i>
    </div>
    <div class="line3"><i class="far fa-circle"></i> <i class="far fa-circle"></i>
        <i class="far fa-circle"></i> <i class="far fa-circle"></i> <i class="far fa-circle"></i>
    </div>
    <div class="line4"><i class="far fa-circle"></i> <i class="far fa-circle"></i>
        <i class="far fa-circle"></i> <i class="far fa-circle"></i> <i class="far fa-circle"></i>
    </div>
</section>

<section id="stp_btn">
    <div>도장 콕콕</div>
</section>

{% endblock %}