/* nav */
#nav_conv{
    font-weight: 900;
}

/* 제목 */
#title{
    height: 10vh;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 5vh;
    margin: 0 10px;
}
.back_icon{
    float: left;
}
.title_name{
    margin: 0 40px;
}

#map{
    height: 50vh;
}
#main_img{
    border: 1px solid #FFC148;
    margin-top: 6vh;
    margin-bottom: 11vh;
}

/* 팝업 */
#popup{
    position: fixed;
    top: 25vh;
    left: 2.5vh;
    width: 90vw;
    height: 40vh;
    background-color: rgba(252,204,111,.92);
    border-radius: 20px;
    padding: 20px;
    z-index: 1;
}