/* nav */
#nav_conv{
    font-weight: 900;
}

/* 제목 */
#title{
    height: 20vh;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 5vh;
    margin: 0 10px;
}
.back_icon{
    float: left;
}
.title_name{
    margin: 0 40px;
}

/* 내용 */
#conv_btn{
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}
#conv_btn a{
    width: 301px;
    height: 58px;
    margin: 0 10px;
    font-size: 1.6em;
    text-align: center;
    padding-top: 8px;
    background-color: white;
    border: 5px solid #FFC148;
    border-radius: 20px;
}
#conv_btn a:active{
    background-color: #FDDF76;
}