/* nav */
#nav_conv{
    font-weight: 900;
}

/* 제목 */
#title{
    height: 169px;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 42px;
    margin: 0 10px;
}
.back_icon{
    float: left;
}
.title_name{
    margin: 0 40px;
}

/* 내용 */
#conv_btn{
    height: 500px;
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 80px;
}
#conv_btn a{
    width: 270px;
    height: 65px;
    margin: 0 10px;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 14px;
    background-color: white;
    border: 5px solid #FFC148;
    border-radius: 20px;
}
#conv_btn a:active{
    background-color: #FDDF76;
}