<!-- easy_road.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/road/easy_road.css' %}?after">

<section id="title">
    <div class="back_icon"> <a href="{% url 'roadchoicepage' %}"><i class="fas fa-chevron-left"></i></a></div>
</section>

<!-- <form method="post" action="{%url 'shortroadpage'%}"> -->
<section id="road_choice">
    {% csrf_token %}
    <div>
        <div>구현 중</div>
        <div class="user_coice">쉬운 길 구현 중</div>
    </div>
    <div>
        <div>구현 중</div>
        <div class="user_coice">쉬운 길 구현 중</div>
    </div>
    <button id="star"><i class="far fa-star"></i></button>
</section>
<!-- </form> -->

<script>
    var btn = document.getElementById('star');
    btn.addEventListener('click',function(){
        btn.innerHTML = '<i class="fas fa-star" style="color: #FFC148;"></i>';
    })
</script>

<section id="map">
    <div id="map" style="width:318px;height:260px;"></div>
		<script type="text/javascript"src="//dapi.kakao.com/v2/maps/sdk.js?appkey=33ccb9ed924f4f71c3407b8f585df918"></script>
		<script>
			var container = document.getElementById('map');
			var options = {
				center: new kakao.maps.LatLng(37.5582, 127.0006),
				level: 3
			};
			var map = new kakao.maps.Map(container, options);
		</script>
</section>

<section id="select_road">
    <button><a href="{% url 'shortroadpage' %}">최소 시간</a></button>
    <button class="select"><a href="{% url 'easyroadpage' %}">최소 언덕</a></button>
</section>

{% endblock %}



