{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/road/easy_road.css' %}">

<section id="title">
    <div class="back_icon"> <a href="{% url 'roadchoicepage' %}"><i class="fas fa-chevron-left"></i></a></div>
</section>

<section id="road_choice">
    <div>
        <div>출발지 건물</div> <!--{{ startBuilding }}-->
        <div class="user_coice">출발지 층수</div> <!--{{ startFloor }}-->
    </div>
    <div>
        <div>도착지 건물</div> <!--{{ endBuilding }}-->
        <div class="user_coice">도착지 층수</div> <!--{{ endFloor }}-->
    </div>
</section>

<section id="map">
    <div id="map" style="width:318px;height:260px;"></div>
		<script type="text/javascript"src="//dapi.kakao.com/v2/maps/sdk.js?appkey=33ccb9ed924f4f71c3407b8f585df918"></script>
		<script>
			var container = document.getElementById('map');
			var options = {
				center: new kakao.maps.LatLng(37.5582, 127.0006),
				level: 3
			};
			var map = new kakao.maps.Map(container, options);
		</script>
</section>

<section id="select_road">
    <button><a href="{% url 'shortroadpage' %}">최소 시간</a></button>
    <button class="select"><a href="{% url 'easyroadpage' %}">최소 언덕</a></button>
</section>

{% endblock %}



