/* 제목 */
#title{
    height: 84px;
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 42px;
    margin: 0 10px;
}
.back_icon{
    float: left;
}
.title_name{
    margin: 0 40px;
}

/* 설명 */
#explain{
    height: 17px;
    /* height: 3vh; */
    font-size: 1rem;
    color: #848484;
    padding: 0 50px 0 40px;
/*     margin-top: 8px; */
}

/* 기능 */
#ask_form{
    padding: 0 20px;
    margin-top: 30px;
}
#ask_form div{
    padding: 10px;
    font-size: 1.2rem;
    color: #3A3939;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#ask_title{
    height: 62px;
    border-bottom: 3px solid rgba(255, 193, 72, .3);
    padding-bottom: 20px;
}
#ask_title > .postname_input{
    padding: 0 10px;
    padding-top: 10px;
}
#ask_body{
    margin: 20px 0;
    height: 354px;
}

.postname{
    width: 70px;
    align-items: start;
}
input,textarea{
    width: 230px;
    border: none;
    background-color: #FFF7E8;
    margin-bottom: 5px;
    font-family: 'SUIT-Regular';
    font-size: 1em;
    padding: 0 5px;
}
::placeholder{
    color: #616161;
}
/* 버튼 */
#ask_btn{
    width: 40%;
    height: 45px;
    font-size: 1.3em;
    text-align: center;
    background-color: white;
    border: 3px solid #FFC148;
    border-radius: 15px;
    margin: 0 97px;
    margin-bottom: 4
}
#ask_btn:active{
    background-color: #FDDF76;
}