@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body{
    width: 390px;
    height: 844px;
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'SUIT-Regular';
}
#wrap {
    width: 390px;
    height: 844px;
    position: relative;
    padding-bottom: 127px;
    background-color: #FFF7E8;
    overflow: scroll;
}
a{
    text-decoration: none;
    color: black;
}
/* nav바 */
#main_nav{
    height: 42px;
    background-color: #FFC148;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
}
#main_nav img{
    height: 36px;
    margin-top: 6px;
}
.fa-user{
    padding-top: 2px;
    font-size: 1.2em;
}
/* footer */
footer{
    height: 127px;
    width: 390px;
    font-size: 0.7em;
    position: absolute;
    bottom: 0;
    padding: 15px 15px;
    background-color: #FFC148;
}