/* nav */
#nav_road{
    font-weight: 900;
}

/* 제목 */
#title{
    height: 10vh;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 5vh;
    margin: 0 10px;
}
.back_icon{
    float: left;
}
/* 컨텐츠 시작 */
#road_choice{
    height: 10vh;
    margin: 0 30px 20px 30px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 35px;
}
#road_choice>div{
    width: 31vw;
}
.user_coice{
    color: #282828;
    font-size: 1rem;
    font-weight: 100;
    border-top: 2px solid #FFC148;
}

#map{
    height: 50vh;
    border: 1px solid #FFC148;
}

#select_road{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;

}
button{
    width: 40vw;
    height: 5vh;
    border-radius: 15px;
    background-color: white;
    border: 3px solid #FFC148;

}
button.select{
    background-color: #FDDF76;
}
