/* nav */
#nav_road{
    font-weight: 900;
}

/* 제목 */
#title{
    height: 84px;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 42px;
    margin: 0 10px;
}
.back_icon{
    float: left;
}
/* 컨텐츠 시작 */
#notice{
    z-index: 10;
    position: fixed;
    top: 100px;
    left: 100px;
    background-color:beige;
}
#road_choice{
    height: 84px;
    margin: 0 20px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 35px;
}
input{
    width: 129px;
    background-color: #FFF7E8;
    border: 0;
    text-align: center;
    color: #282828;
    font-size: 1.5rem;
    font-weight: 100; 
    font-family: 'SUIT-Regular';
}
.user_coice input{
    padding-top: 6px;
    color: #282828;
    font-size: 1rem;
    font-weight: 100;
    border-top: 2px solid #FFC148;
}

#roadinfo{
    text-align: end;
    padding: 0 10px 5px 0;
    color: #444444;
}
#roadinfo span{
    color: #000000;
    font-weight: 600;
}

#map{
    height: 616px;
    border: 1px solid #FFC148;
}

#select_road{
    height: 84px;
    width: 390px;
    z-index: 5;
    position: absolute;
    top: 750px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
    
}
button{
    font-size: 1rem;
    width: 160px;
    height: 42px;
    border-radius: 15px;
    background-color: white;
    border: 3px solid #FFC148;
}
button.select{
    background-color: #FDDF76;
}
#star{
    font-size: 1.3rem;
    /* text-align: center; */
    border:0;
    /* color:#FFC148; */
    position: absolute;
    z-index: 5;
    top: 250px;
    left: 340px;
    width: 35px;
    height: 35px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* 팝업 */
#popup{
    position: fixed;
    top: 270px;
    left: 21px;
    width: 351px;
    height: 350px;
    background-color: rgba(252,204,111,.92);
    border-radius: 20px;
    padding: 20px;
    z-index: 6;
}
#popup img{
    /* 일반 사진의 경우 cover가 나을 것 같고,
    쿱스켓 이미지의 경우 contain이 나을 것 같음 */
    width: 315px;
    border-radius: 10px;
    margin: 10px 0 5px 0;
}
#popup h3{
    margin: 0;
}
#popup p{
    margin: 5px 0;
}
#popup button{
    background-color: transparent;
    color: black;
    font-size: 1.5rem;
    border: 0;
    position: fixed;
    top: 275px;
    left: 330px;
    z-index: 7;
    padding-top: 3px;
    width : 0;
}