/* nav */
#nav_road{
    font-weight: 900;
}

/* 제목 */
#title{
    height: 84px;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 42px;
    margin: 0 10px;
}
.back_icon{
    float: left;
}
/* 컨텐츠 시작 */
#road_choice{
    height: 125px;
    margin: 0 20px;
}
#choice{
    margin: 0;
    width: 100%;
    color: #282828;
    font-size: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 35px;
}

#startBuildingInput,#endBuildingInput{
    width: 129px;
    color: #282828;
    font-size: 1.5rem;
    font-weight: 100;
}
#startFloorInput,#endFloorInput{
    width: 121px;
    color: #282828;
    font-size: 1rem;
    font-weight: 100;
    padding-top: 6px;
    border-top: 2px solid #FFC148;
}
#startFloorInput::placeholder,#endFloorInput::placeholder{
    font-size: 0.8rem;
}
#road_btn{
    position: fixed;
    border: 0;
    top: 795px;
    left: 290px;
    width: 50px;
    height: 50px;
    font-size: 1em;
    background-color: #000000a3;
    color: white;
    border-radius: 60px;
    z-index: 3;
}
input{
    background-color:#FFF7E8;
    border:0px;
    text-align:center;
    font-family: 'SUIT-Regular';
}
input::placeholder {
    color: black;
    font-family: 'SUIT-Regular';
}

#div_building{
    display: flex;
    align-items: start;
    width: 100%;
}
table{
    border-collapse: collapse;
    margin-bottom: 50px;
}
.building td{
    width: 220px;
    height: 42px;
    text-align: center;
    border: 1px solid #FFC148;
    background-color: #ffffff;
}
.floor td{
    width: 145px;
    height: 48px;
    text-align: center;
    border: 1px solid #FFC148;
    background-color: #ffffff;
}
.floor td{
    display: none;
}
td:active{
    background-color: #C2BDB4;
}

#wrap {
    width: 390px;
    min-height: 844px;
    position: relative;
    padding-bottom: 127px;
    background-color: #FFF7E8;
    overflow: scroll;
}