/* nav */
#nav_road{
    font-weight: 900;
}

/* 제목 */
#title{
    height: 10vh;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 5vh;
    margin: 0 10px;
}
.back_icon{
    float: left;
}
/* 컨텐츠 시작 */
#road_choice{
    height: 10vh;
    margin: 0 30px 20px 30px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 35px;
}
input{
    width: 33vw;
    background-color: #FFF7E8;
    border: 0;
    text-align: center;
    color: #282828;
    font-size: 1.5rem;
    font-weight: 100; 
    font-family: 'SUIT-Regular';
}
.user_coice input{
    padding-top: 6px;
    color: #282828;
    font-size: 1rem;
    font-weight: 100;
    border-top: 2px solid #FFC148;
}

#map{
    height: 73vh;
    border: 1px solid #FFC148;
}

#select_road{
    height: 10vh;
    width: 100vw;
    z-index: 15;
    position: absolute;
    top: 750px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;

}
button{
    width: 40vw;
    height: 5vh;
    border-radius: 15px;
    background-color: white;
    border: 3px solid #FFC148;
}
button.select{
    background-color: #FDDF76;
}
#star{
    font-size: 1.3rem;
    /* text-align: center; */
    border:0;
    /* color:#FFC148; */
    color: black;
    position: fixed;
    z-index: 3;
    top: 240px;
    right: 10px;
    width: 35px;
    height: 35px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* 팝업 */
#popup{
    position: fixed;
    top: 32vh;
    left: 2.5vh;
    width: 90vw;
    height: 49vh;
    background-color: rgba(252,204,111,.92);
    border-radius: 20px;
    padding: 10px 18px;
    z-index: 3;
}
#popup img{
    /* 일반 사진의 경우 cover가 나을 것 같고,
    쿱스켓 이미지의 경우 contain이 나을 것 같음 */
    object-fit: cover;
    width: 317px;
    height: 150px;
    border-radius: 10px;
    margin: 10px 0 5px 0;
}
#popup h3{
    margin: 0;
}
#popup p{
    margin: 5px 0;
}
#popup button{
    background-color: transparent;
    color: black;
    font-size: 1.5rem;
    border: 0;
    position: fixed;
    top: 275px;
    right: 50px;
    z-index: 3;
    padding-top: 3px;
    width : 0;
}